.gridContainerClass .Checkbox-checked-144{
    background: #008ce6 !important;
}
.gridContainerClass .Checkbox-checkBoxItem-143{
    border: 1px solid #008ce6 !important;
}
.gridContainerClass {
    margin: 8px 0;
}
.react-datepicker-wrapper {
    width: 100% !important;
    .MuiInputBase-root {
        width: 100% !important; 
    }
}
