.page-header {
    margin: 0 30px 20px 0;
    border-bottom: 0px;
    text-align: left;
    letter-spacing: 1px;
    font-size: 24px;
    color: #243d7d;
}
.paper {
    padding: 20px;
    margin: 20px;
    text-align: center;

    .client_name {
        font-size: 16px;
        padding: 15px 0;
    }
}
.btnMargin {
    margin: 25px;
}